https://drive.google.com/file/d/1qXY__4wYfjLcLTKWYWlVYHOXFgY8L-qP/view?usp=sharing

In [6]:
#Importamos librerias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [7]:
!head data_nps.csv

,CREATION_DATE,RESPONSE_DATE,CURRENT_STATUS,GENDER,DAY_OF_BIRTH,CIF_ID,AGE,LOCATION,TOUCHPOINT_NUMBER,CASE_NUMBER,CASE_DATE,CASE_CHANNEL,PRODUCT_NAME,NPS_SCORE,TAGS
0,2021-06-11 10:30:03 UTC,2021-06-12 10:43:18 UTC,2,M,1954-09-18 00:00:00 UTC,1402267,66.0,DOMINGO FAUSTINO SARMIENTO,Service,5671770,2021-06-09 00:00:00 UTC,EUROP,Automotores Individuales,0, mot Grua  mot Servicio  mot Accesibilidad  mot Cobertura poliza
1,2021-06-10 10:30:03 UTC,2021-06-12 17:38:35 UTC,5,F,1994-10-06 00:00:00 UTC,23733377,26.0,CORDOBA,Service,5662123,2021-06-08 00:00:00 UTC,AUXICAJA,Automotores Individuales,9, mot Servicio  mot Precio  atr Eficacia  mot Atencion
2,2021-06-07 10:30:03 UTC,2021-06-12 16:52:27 UTC,5,M,1980-08-07 00:00:00 UTC,21113765,40.0,DIAMANTE,Service,5625253,2021-06-03 00:00:00 UTC,AUXICAJA,Automotores Individuales,10,
3,2021-06-10 10:30:03 UTC,2021-06-13 19:29:41 UTC,5,M,1959-09-12 00:00:00 UTC,19579674,61.0,CIUDAD AUTONOMA BUENOS AIRES,Query/Servicing request,5663499,2021-06-09 00:00:00 UTC,SUCURSAL,Automotores Individuales,10, mot Grua  atr Eficacia
4,2021-05-31 10:30:03 UTC,2021-06-06 22:26:27 UTC,1,M,1952-04-19 00:00:00 UTC,13972088,69.0,TRANCAS,Claims,5582911,2021-05-21 00:00:00 UTC,CALL CENTER,Automotores Individuales,0, mot Siniestro  atr Eficacia
5,2021-06-04 10:30:02 UTC,2021-06-06 18:03:57 UTC,2,M,1978-09-29 00:00:00 UTC,18454077,42.0,COMODORO RIVADAVIA,Purchase,5616941,2021-06-03 00:00:00 UTC,CALL CENTER,Automotores Individuales,0, mot Atencion
6,2021-06-04 10:30:02 UTC,2021-06-06 13:58:35 UTC,5,M,1964-05-17 00:00:00 UTC,20754786,57.0,SALTA,Documentation Request,5619982,2021-06-02 00:00:00 UTC,WEB,Automotores Individuales,10, atr Eficacia
7,2021-06-09 10:30:03 UTC,2021-06-09 10:48:03 UTC,0,M,1996-12-20 00:00:00 UTC,14884444,24.0,CORDOBA,Purchase,5653163,2021-06-08 00:00:00 UTC,WEB,Automotores Individuales,8, mot FacturacionPagos
8,2021-06-09 10:30:03 UTC,2021-06-10 20:47:15 UTC,5,M,1988-01-27 00:00:00 UTC,17409488,33.0,LAS HERAS,Documentation Request,5656265,2021-06-07 00:00:00 UTC,WEB,Automotores Individuales,10, mot Servicio  atr Eficacia

In [8]:
pwd

'/Users/usuario/PycharmProjects/pythonProject5/UCEMA/05-viz'

In [9]:
#Cargamos el dataframe y nos interiorizamos de sus campos
#Que no haya una columna que se llame 'Unnamed: 0'
df = pd.read_csv('data_nps.csv')
df

,Unnamed: 0,CREATION_DATE,RESPONSE_DATE,CURRENT_STATUS,GENDER,DAY_OF_BIRTH,CIF_ID,AGE,LOCATION,TOUCHPOINT_NUMBER,CASE_NUMBER,CASE_DATE,CASE_CHANNEL,PRODUCT_NAME,NPS_SCORE,TAGS
0,0,2021-06-11 10:30:03 UTC,2021-06-12 10:43:18 UTC,2,M,1954-09-18 00:00:00 UTC,1402267,66.0,DOMINGO FAUSTINO SARMIENTO,Service,5671770,2021-06-09 00:00:00 UTC,EUROP,Automotores Individuales,0,mot Grua mot Servicio mot Accesibilidad mo...
1,1,2021-06-10 10:30:03 UTC,2021-06-12 17:38:35 UTC,5,F,1994-10-06 00:00:00 UTC,23733377,26.0,CORDOBA,Service,5662123,2021-06-08 00:00:00 UTC,AUXICAJA,Automotores Individuales,9,mot Servicio mot Precio atr Eficacia mot A...
2,2,2021-06-07 10:30:03 UTC,2021-06-12 16:52:27 UTC,5,M,1980-08-07 00:00:00 UTC,21113765,40.0,DIAMANTE,Service,5625253,2021-06-03 00:00:00 UTC,AUXICAJA,Automotores Individuales,10,NaN
3,3,2021-06-10 10:30:03 UTC,2021-06-13 19:29:41 UTC,5,M,1959-09-12 00:00:00 UTC,19579674,61.0,CIUDAD AUTONOMA BUENOS AIRES,Query/Servicing request,5663499,2021-06-09 00:00:00 UTC,SUCURSAL,Automotores Individuales,10,mot Grua atr Eficacia
4,4,2021-05-31 10:30:03 UTC,2021-06-06 22:26:27 UTC,1,M,1952-04-19 00:00:00 UTC,13972088,69.0,TRANCAS,Claims,5582911,2021-05-21 00:00:00 UTC,CALL CENTER,Automotores Individuales,0,mot Siniestro atr Eficacia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,15995,2021-05-10 10:30:03 UTC,2021-05-10 10:46:11 UTC,5,M,1974-11-24 00:00:00 UTC,23609326,46.0,ISIDRO CASANOVA,Documentation Request,5436373,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,9,mot Siniestro mot Cobertura poliza
15996,15996,2021-05-10 10:30:03 UTC,2021-05-10 12:12:26 UTC,0,M,1960-09-21 00:00:00 UTC,11254684,60.0,CIUDAD AUTONOMA BUENOS AIRES,Documentation Request,5434652,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,7,mot Siniestro mot FacturacionPagos mot Prec...
15997,15997,2021-05-10 10:30:03 UTC,2021-05-10 19:38:46 UTC,0,M,1960-07-15 00:00:00 UTC,16971297,60.0,SAN MIGUEL DE TUCUMAN,Documentation Request,5435120,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,7,NaN
15998,15998,2021-05-10 10:30:03 UTC,2021-05-10 10:45:03 UTC,2,M,1956-07-10 00:00:00 UTC,5768360,64.0,VILLA DOMINICO,Documentation Request,5434365,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,2,mot Siniestro atr Conformidad mot Facturaci...
15999,15999,2021-05-10 10:39:05 UTC,2021-05-10 12:02:05 UTC,0,F,1965-11-22 00:00:00 UTC,8703935,55.0,CIUDAD AUTONOMA BUENOS AIRES,Query/Servicing request,5426739,2021-05-07 00:00:00 UTC,SUCURSAL,Automotores Individuales,8,mot Servicio

In [10]:
df = df.drop(columns = ['Unnamed: 0'])
df

,CREATION_DATE,RESPONSE_DATE,CURRENT_STATUS,GENDER,DAY_OF_BIRTH,CIF_ID,AGE,LOCATION,TOUCHPOINT_NUMBER,CASE_NUMBER,CASE_DATE,CASE_CHANNEL,PRODUCT_NAME,NPS_SCORE,TAGS
0,2021-06-11 10:30:03 UTC,2021-06-12 10:43:18 UTC,2,M,1954-09-18 00:00:00 UTC,1402267,66.0,DOMINGO FAUSTINO SARMIENTO,Service,5671770,2021-06-09 00:00:00 UTC,EUROP,Automotores Individuales,0,mot Grua mot Servicio mot Accesibilidad mo...
1,2021-06-10 10:30:03 UTC,2021-06-12 17:38:35 UTC,5,F,1994-10-06 00:00:00 UTC,23733377,26.0,CORDOBA,Service,5662123,2021-06-08 00:00:00 UTC,AUXICAJA,Automotores Individuales,9,mot Servicio mot Precio atr Eficacia mot A...
2,2021-06-07 10:30:03 UTC,2021-06-12 16:52:27 UTC,5,M,1980-08-07 00:00:00 UTC,21113765,40.0,DIAMANTE,Service,5625253,2021-06-03 00:00:00 UTC,AUXICAJA,Automotores Individuales,10,NaN
3,2021-06-10 10:30:03 UTC,2021-06-13 19:29:41 UTC,5,M,1959-09-12 00:00:00 UTC,19579674,61.0,CIUDAD AUTONOMA BUENOS AIRES,Query/Servicing request,5663499,2021-06-09 00:00:00 UTC,SUCURSAL,Automotores Individuales,10,mot Grua atr Eficacia
4,2021-05-31 10:30:03 UTC,2021-06-06 22:26:27 UTC,1,M,1952-04-19 00:00:00 UTC,13972088,69.0,TRANCAS,Claims,5582911,2021-05-21 00:00:00 UTC,CALL CENTER,Automotores Individuales,0,mot Siniestro atr Eficacia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,2021-05-10 10:30:03 UTC,2021-05-10 10:46:11 UTC,5,M,1974-11-24 00:00:00 UTC,23609326,46.0,ISIDRO CASANOVA,Documentation Request,5436373,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,9,mot Siniestro mot Cobertura poliza
15996,2021-05-10 10:30:03 UTC,2021-05-10 12:12:26 UTC,0,M,1960-09-21 00:00:00 UTC,11254684,60.0,CIUDAD AUTONOMA BUENOS AIRES,Documentation Request,5434652,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,7,mot Siniestro mot FacturacionPagos mot Prec...
15997,2021-05-10 10:30:03 UTC,2021-05-10 19:38:46 UTC,0,M,1960-07-15 00:00:00 UTC,16971297,60.0,SAN MIGUEL DE TUCUMAN,Documentation Request,5435120,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,7,NaN
15998,2021-05-10 10:30:03 UTC,2021-05-10 10:45:03 UTC,2,M,1956-07-10 00:00:00 UTC,5768360,64.0,VILLA DOMINICO,Documentation Request,5434365,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,2,mot Siniestro atr Conformidad mot Facturaci...
15999,2021-05-10 10:39:05 UTC,2021-05-10 12:02:05 UTC,0,F,1965-11-22 00:00:00 UTC,8703935,55.0,CIUDAD AUTONOMA BUENOS AIRES,Query/Servicing request,5426739,2021-05-07 00:00:00 UTC,SUCURSAL,Automotores Individuales,8,mot Servicio

In [11]:
#imprimir lo de abajo
df.tail()

,CREATION_DATE,RESPONSE_DATE,CURRENT_STATUS,GENDER,DAY_OF_BIRTH,CIF_ID,AGE,LOCATION,TOUCHPOINT_NUMBER,CASE_NUMBER,CASE_DATE,CASE_CHANNEL,PRODUCT_NAME,NPS_SCORE,TAGS
15995,2021-05-10 10:30:03 UTC,2021-05-10 10:46:11 UTC,5,M,1974-11-24 00:00:00 UTC,23609326,46.0,ISIDRO CASANOVA,Documentation Request,5436373,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,9,mot Siniestro mot Cobertura poliza
15996,2021-05-10 10:30:03 UTC,2021-05-10 12:12:26 UTC,0,M,1960-09-21 00:00:00 UTC,11254684,60.0,CIUDAD AUTONOMA BUENOS AIRES,Documentation Request,5434652,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,7,mot Siniestro mot FacturacionPagos mot Prec...
15997,2021-05-10 10:30:03 UTC,2021-05-10 19:38:46 UTC,0,M,1960-07-15 00:00:00 UTC,16971297,60.0,SAN MIGUEL DE TUCUMAN,Documentation Request,5435120,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,7,NaN
15998,2021-05-10 10:30:03 UTC,2021-05-10 10:45:03 UTC,2,M,1956-07-10 00:00:00 UTC,5768360,64.0,VILLA DOMINICO,Documentation Request,5434365,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,2,mot Siniestro atr Conformidad mot Facturaci...
15999,2021-05-10 10:39:05 UTC,2021-05-10 12:02:05 UTC,0,F,1965-11-22 00:00:00 UTC,8703935,55.0,CIUDAD AUTONOMA BUENOS AIRES,Query/Servicing request,5426739,2021-05-07 00:00:00 UTC,SUCURSAL,Automotores Individuales,8,mot Servicio

In [12]:
#mostrar nombres de columna
df.columns

Index(['CREATION_DATE', 'RESPONSE_DATE', 'CURRENT_STATUS', 'GENDER',
       'DAY_OF_BIRTH', 'CIF_ID', 'AGE', 'LOCATION', 'TOUCHPOINT_NUMBER',
       'CASE_NUMBER', 'CASE_DATE', 'CASE_CHANNEL', 'PRODUCT_NAME', 'NPS_SCORE',
       'TAGS'],
      dtype='object')

Hacer una función que determine si es promotor, detractor y neutro e implementarla a una columna del dataset que se llama nps_segment
* Promotor: NPS_SCORE = 8,9,10
* Neutro: NPS_SCORE = 6,7
* Detractor: NPS_SCORE = 1,2,3,4,5

In [13]:
def nps_segment(x):
    if x < 6:
       return  'Detractor'
    elif x == 6 or x == 7:
        return 'Neutro'
    else:
       return 'Promotor'

#df["nombre_de_la_columna_nueva"] = df["Columna_a_transformar"].apply(función_creada_por_nosotros)

In [14]:
df["NPS_SEGMENT"] = df['NPS_SCORE'].apply(nps_segment)
df

,CREATION_DATE,RESPONSE_DATE,CURRENT_STATUS,GENDER,DAY_OF_BIRTH,CIF_ID,AGE,LOCATION,TOUCHPOINT_NUMBER,CASE_NUMBER,CASE_DATE,CASE_CHANNEL,PRODUCT_NAME,NPS_SCORE,TAGS,NPS_SEGMENT
0,2021-06-11 10:30:03 UTC,2021-06-12 10:43:18 UTC,2,M,1954-09-18 00:00:00 UTC,1402267,66.0,DOMINGO FAUSTINO SARMIENTO,Service,5671770,2021-06-09 00:00:00 UTC,EUROP,Automotores Individuales,0,mot Grua mot Servicio mot Accesibilidad mo...,Detractor
1,2021-06-10 10:30:03 UTC,2021-06-12 17:38:35 UTC,5,F,1994-10-06 00:00:00 UTC,23733377,26.0,CORDOBA,Service,5662123,2021-06-08 00:00:00 UTC,AUXICAJA,Automotores Individuales,9,mot Servicio mot Precio atr Eficacia mot A...,Promotor
2,2021-06-07 10:30:03 UTC,2021-06-12 16:52:27 UTC,5,M,1980-08-07 00:00:00 UTC,21113765,40.0,DIAMANTE,Service,5625253,2021-06-03 00:00:00 UTC,AUXICAJA,Automotores Individuales,10,NaN,Promotor
3,2021-06-10 10:30:03 UTC,2021-06-13 19:29:41 UTC,5,M,1959-09-12 00:00:00 UTC,19579674,61.0,CIUDAD AUTONOMA BUENOS AIRES,Query/Servicing request,5663499,2021-06-09 00:00:00 UTC,SUCURSAL,Automotores Individuales,10,mot Grua atr Eficacia,Promotor
4,2021-05-31 10:30:03 UTC,2021-06-06 22:26:27 UTC,1,M,1952-04-19 00:00:00 UTC,13972088,69.0,TRANCAS,Claims,5582911,2021-05-21 00:00:00 UTC,CALL CENTER,Automotores Individuales,0,mot Siniestro atr Eficacia,Detractor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,2021-05-10 10:30:03 UTC,2021-05-10 10:46:11 UTC,5,M,1974-11-24 00:00:00 UTC,23609326,46.0,ISIDRO CASANOVA,Documentation Request,5436373,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,9,mot Siniestro mot Cobertura poliza,Promotor
15996,2021-05-10 10:30:03 UTC,2021-05-10 12:12:26 UTC,0,M,1960-09-21 00:00:00 UTC,11254684,60.0,CIUDAD AUTONOMA BUENOS AIRES,Documentation Request,5434652,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,7,mot Siniestro mot FacturacionPagos mot Prec...,Neutro
15997,2021-05-10 10:30:03 UTC,2021-05-10 19:38:46 UTC,0,M,1960-07-15 00:00:00 UTC,16971297,60.0,SAN MIGUEL DE TUCUMAN,Documentation Request,5435120,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,7,NaN,Neutro
15998,2021-05-10 10:30:03 UTC,2021-05-10 10:45:03 UTC,2,M,1956-07-10 00:00:00 UTC,5768360,64.0,VILLA DOMINICO,Documentation Request,5434365,2021-05-07 00:00:00 UTC,WEB,Automotores Individuales,2,mot Siniestro atr Conformidad mot Facturaci...,Detractor
15999,2021-05-10 10:39:05 UTC,2021-05-10 12:02:05 UTC,0,F,1965-11-22 00:00:00 UTC,8703935,55.0,CIUDAD AUTONOMA BUENOS AIRES,Query/Servicing request,5426739,2021-05-07 00:00:00 UTC,SUCURSAL,Automotores Individuales,8,mot Servicio,Promotor

In [15]:
#imprimir nans en la columna TAGS
df.TAGS.isnull().sum()

2184

Con numpy.where crear una columna llamada detected, que determina si la columna TAGS tiene algun contenido. Poner True si lo tiene y si no tiene contenido poner False.

In [16]:
#Escribi tu código acá (HINT: Buscar numpy where documentacion)
df["detected"] = np.where(df.TAGS.isnull(), 'False', 'True')
df["detected"]

0         True
1         True
2        False
3         True
4         True
         ...
15995     True
15996     True
15997    False
15998     True
15999     True
Name: detected, Length: 16000, dtype: object

## Dates
Devolver la fecha máxima y minima de la columna CREATION_DATE

In [17]:
df.CREATION_DATE.max()

'2021-06-15 12:35:01 UTC'

In [18]:
df.CREATION_DATE.min()

'2020-12-10 10:30:03 UTC'

Chequear los data types de todas las columnas

In [19]:
df.dtypes

CREATION_DATE         object
RESPONSE_DATE         object
CURRENT_STATUS         int64
GENDER                object
DAY_OF_BIRTH          object
CIF_ID                 int64
AGE                  float64
LOCATION              object
TOUCHPOINT_NUMBER     object
CASE_NUMBER            int64
CASE_DATE             object
CASE_CHANNEL          object
PRODUCT_NAME          object
NPS_SCORE              int64
TAGS                  object
NPS_SEGMENT           object
detected              object
dtype: object

¿Cual es el data type de CREATION_DATE ¿Te parece correct?

In [20]:
type(df.CREATION_DATE)

pandas.core.series.Series

Crear una columna que solo tenga año y mes. Llameémosle year_month. Utilizar pd.to_datetime() primero y luego to period

In [21]:
df['CREATION_DATE'] = pd.to_datetime(df['CREATION_DATE'])
df.CREATION_DATE

0       2021-06-11 10:30:03+00:00
1       2021-06-10 10:30:03+00:00
2       2021-06-07 10:30:03+00:00
3       2021-06-10 10:30:03+00:00
4       2021-05-31 10:30:03+00:00
                   ...
15995   2021-05-10 10:30:03+00:00
15996   2021-05-10 10:30:03+00:00
15997   2021-05-10 10:30:03+00:00
15998   2021-05-10 10:30:03+00:00
15999   2021-05-10 10:39:05+00:00
Name: CREATION_DATE, Length: 16000, dtype: datetime64[ns, UTC]

In [22]:
df ['year_month'] = df.CREATION_DATE.to_datatime.year

AttributeError: 'Series' object has no attribute 'to_datatime'

In [ ]:
#armar el código para crear la columna año mes
df["year_month"]

## Conteo.
Crear un nuevo dataframe agrupado por year_month donde tenga la cantidad de encuestas únicas mes a mes
** Hint**:
```python
df.groupby(grouping_column).agg("count")
```

Crear un dataste donde sume la cantidad de encuestas con TAG detectados, mes a mes

**Hint** :
```python
df.groupby(grouping_column).agg(
    new_col_name =  ('old_col_name', 'sum'),
    new_col_name_2 = ('old_col_name', 'mean')
)
```

Crear otro dataset donde tenga la cantidad de encuestas por nps_segment unicas por mes. promotoras, neutras y detractoras.

### Seg,emtps
Crear un dataset que agrupe por segmento los CIF_ID únicos

In [ ]:

dataset_por_segmento

In [ ]:
#reset_index() implementalo al dataset y asignaselo
dataset_por_segmento

Cantidad que hay por detractor, promotor y neutro

# Countplot
Hacer un countplot por la cantidad de NPS segment

In [ ]:
from matplotlib import rcParams
rcParams['figure.figsize'] = 6,6
paleta = ["#66bd63","#a50026", "#fee08b"]

In [ ]:
#imprimir las cantidades

# Crosstab

Armar un crostab por year_month en el index y NPS segment cómo columna

¿Para que sirve esta tabla?

Armar en terminos relativos. Es decir, en porcentaje de total por mes.

# Lineplot

En el eje x gráfica el mes y en el eje y tres lineas con detractor, neutro y promotor

Armar un cross tab con los comentarios detectados mes a mes

In [ ]:
.

¿Que mes es en el que más falla? ¿podemos sacar una conclusión?

# Case Channel

Reproducí este gráfico. ¿Para qué sirve?

HINT:

plt.rc('xtick', labelsize=24)
plt.rc('ytick', labelsize=10)
ax = sns.countplot(data = df, x = 'CASE_CHANNEL',
              order = df['CASE_CHANNEL'].value_counts().index)

Instala la librería squarify y ejecuta la linea de código de aca abajo importala y

In [ ]:
#filtro = df[df['CASE_CHANNEL'].map(df['CASE_CHANNEL'].value_counts()) > 900]
label_value = df["CASE_CHANNEL"].value_counts().to_dict()
# Creo los labels usando a list comprehesion
labels = ["{} tiene {} obs".format(class_, obs) for class_, obs in label_value.items()]
# Creo colores por cantidad de trabajos
colors = [plt.cm.Spectral(i/float(len(labels))) for i in range(len(labels))]
plt.figure(figsize = (18, 10))
squarify.plot(sizes = label_value.values(), label = labels,  color = colors, alpha = 0.8)
plt.title("Cantidad de casos por CASE_CHANNEL");

Crear un cross tab entre segmento y Case chanel

# Plotea un gráfico de barras

### Crear un crostab de nps_segment por genero en porcentaje

# Edad

Imprimir los siguientes valores

Graficar la distribución de la edad

In [ ]:
rcParams['figure.figsize'] = 12,8
sns.set()
plt.rc('xtick', labelsize=5)
plt.rc('ytick', labelsize=10)
#codigo del gráfico

# Boxplot

Armar un boxplot por segmento, representando en el eje Y la edad.

In [ ]:
fig, (ax1) = plt.subplots( figsize = (8, 8))
#sn.boxplot
ax1.set_xlabel('Conversión', fontsize=10)
ax1.set_ylabel('Edad', fontsize=10)
ax1.set_title('Boxplot Edad', fontsize=10)
ax1.tick_params(labelsize=10)

plt.subplots_adjust(wspace=0.5)

plt.tight_layout()

# Discretización
Representar la edad en grupos de deacadas

In [ ]:
#primero crear la columna según regla de edad
#luego crosstab

In [ ]:
#ULTRA HINT: per_edad = pd.crosstab(df['nps_segment'],df['grupo_edad'])
per_edad = per_edad.T
per_edad

In [ ]:
rcParams['figure.figsize'] = 8,6
plt.rc('xtick', labelsize=10)
plt.rc('ytick', labelsize=10)
sns.set_style("darkgrid")
#.plot(kind = 'bar',color = paleta)
plt.xlabel('Edad del grupo')
plt.ylabel('Tasa de Conversión sobre el total')
plt.xticks(np.arange(5), ('<30', '30-39', '40-49', '50-59', '60+'),rotation = 'horizontal')
plt.title('Conversión vs Rango Etareo')
plt.show()